@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.page__body {
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 26px;
}
@media screen and (min-width: 1200px) {
  .page__body-shadow {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
.header__wrapper {
  max-width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .header__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.main-nav {
  background-color: #81B3D2;
  position: relative;
}
.main-nav__list {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
.main-nav__list--closed {
  display: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.main-nav__item {
  list-style-type: none;
  text-align: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.main-nav__item:hover {
  background-color: #669EC0;
}
.main-nav__item:active {
  background-color: #5496BD;
  opacity: 0.3;
}
.main-nav__item:last-of-type {
  box-shadow: none;
  padding-bottom: 0;
}
.main-nav__list::after {
  content: "";
  display: block;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
/*.main-nav__item:first-of-type {
  box-shadow: 0px 1px 0px @color-shadon-one;
  padding-left: 118px;
}

.main-nav__item:last-of-type {
  background-color: @color-white;
  display: flex;
  justify-content: flex-end;
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 17px;
  box-shadow: none;
}*/
.main-nav__link {
  text-decoration: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 6px;
  display: inline-block;
}
.main-nav__link--academy {
  padding-bottom: 0;
}
.main-nav__text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main-nav--closed {
  border: none;
  background-color: #81B3D2;
  position: absolute;
  top: 12px;
  right: 15px;
}
/*.main__wrapper-bottom {
  background-color: @color-white;
  display: flex;
  justify-content: flex-end;
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 17px;
}*/
.main__link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 220px;
}
.main-nav__button--close {
  display: block;
  border: none;
  background-color: #81B3D2;
  position: absolute;
  top: 17px;
  right: 14px;
}
.main-nav__button--open {
  display: block;
  border: none;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.main-nav__button {
  display: none;
}
/*.main-nav__button--open {
  border: none;
  background-color: @color-white;

}*/
.main-nav__button--open:hover path,
.main-nav__button--close:hover path {
  opacity: 0.6;
}
.main-nav__button--open:active path,
.main-nav__button--close:active path {
  opacity: 0.3;
}
.main-nav__svg-close {
  display: none;
}
.main-nav__svg-close--visible {
  display: block;
}
.main-nav__svg-open {
  display: block;
}
.main-nav__svg-open--unvisible {
  display: none;
}
.logo__link {
  background-color: #FFFFFF;
  /*width: 100%;*/
  display: flex;
  justify-content: center;
}
.logo__link-img {
  margin-bottom: -38px;
}
@media screen and (min-width: 768px) {
  .main-nav__button--open,
  .main-nav__button--close {
    display: none;
  }
  .main-nav--closed {
    display: none;
  }
  .main-nav__link {
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
  }
  .main-nav__list {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 16px;
    /*padding-right: 25px;*/
    padding-bottom: 14px;
    /*padding-left: 34px;*/
  }
  .main-nav__list--closed {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 16px;
    padding-bottom: 14px;
  }
  .main-nav__text {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  }
  .main-nav__text:hover {
    color: #81B3D2;
  }
  .main-nav__text:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .main-nav__text-active {
    color: #766357;
  }
  .main-nav__text-active:hover {
    color: #604E43;
  }
  .main-nav__text-active:active {
    color: rgba(118, 99, 87, 0.3);
  }
  .main-nav__item,
  .main-nav__item:first-of-type {
    box-shadow: none;
    padding: 0;
    width: 153px;
    margin-top: -2px;
  }
  .main-nav__item:nth-of-type(2) {
    text-align: left;
    margin-left: 4%;
  }
  .main-nav__item:nth-of-type(3) {
    text-align: right;
    margin-left: 13%;
  }
  .main-nav__item:nth-of-type(4) {
    margin-left: 3.3%;
  }
  .main__link {
    top: 0;
  }
  .logo__link {
    background-color: inherit;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
  .main-nav__item:hover {
    background-color: inherit;
  }
  .main-nav__item:active {
    background-color: inherit;
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 17px;
    /*padding-right: 65px;*/
    padding-bottom: 13px;
    /*padding-left: 45px;*/
    margin: 0;
  }
  .main-nav__list--closed {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 17px;
    padding-bottom: 13px;
  }
  .main-nav__item,
  .main-nav__item:first-of-type {
    width: 14%;
  }
  .main-nav__item:first-of-type {
    margin-left: 3%;
  }
  .main-nav__item:nth-of-type(2) {
    text-align: right;
    margin-left: 3%;
  }
  .main-nav__item:nth-of-type(4) {
    margin-left: 8.1%;
  }
  .main-nav__item:nth-of-type(3n) {
    margin-left: 27%;
  }
}
.intro__wrapper {
  max-width: 320px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.intro__wrapper-pic {
  background-color: rgba(1, 1, 1, 0.2);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-right: 19px;
  padding-bottom: 78px;
  padding-left: 19px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .intro__wrapper-pic {
    background-color: rgba(1, 1, 1, 0.2);
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position-x: 52%;
    background-position-y: 28%;
  }
}
.intro__info {
  background-color: #FFFFFF;
  padding-top: 34px;
  padding-right: 18px;
  padding-left: 17px;
  padding-bottom: 11px;
  position: relative;
}
.intro__info::before {
  content: url("../img/intro-triangle.svg.svg");
  position: absolute;
  top: -57px;
  right: 0;
}
.intro__info-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 32px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.intro__info-text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .intro__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .intro__wrapper-pic {
    background-color: rgba(1, 1, 1, 0.2);
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 78px;
    padding-right: 153px;
    padding-bottom: 85px;
    padding-left: 153px;
  }
  .intro__info::before {
    content: url("../img/bg-intro-triangle-tablet.svg");
  }
  .intro__info {
    padding-top: 43px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: -8px;
  }
  .intro__info-title {
    margin: 0;
    font-size: 21px;
    margin-bottom: 31px;
    padding-left: 165px;
    padding-right: 172px;
  }
  .intro__info-text {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 54px;
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 768px) and (min-resolution: 1.5dppx) {
  .intro__wrapper-pic {
    background-color: rgba(1, 1, 1, 0.2);
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-repeat: no-repeat;
    background-position-x: 82%;
    background-position-y: 28%;
  }
}
@media screen and (min-width: 1200px) {
  .intro__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .intro__wrapper-pic {
    background-color: rgba(1, 1, 1, 0.2);
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    text-align: center;
  }
  .intro__info::before {
    content: url("../img/bg-intro-triangle-desktop.svg");
  }
  .intro__info-title {
    padding-left: 350px;
    padding-right: 350px;
  }
  .intro__info {
    padding-top: 55px;
    margin-bottom: -18px;
  }
  .intro__info-text {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 42px;
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .intro__wrapper-pic {
    background-color: rgba(1, 1, 1, 0.2);
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 39%;
  }
}
.introduction__wrapper {
  max-width: 320px;
  margin: 0 auto;
}
.introduction__backcolor {
  background-color: #FFFFFF;
}
.introduction__wrapper-pic {
  background-color: rgba(1, 1, 1, 0.2);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 52px;
  padding-bottom: 61px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .introduction__wrapper-pic {
    background-color: rgba(1, 1, 1, 0.2);
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position-x: 52%;
    background-position-y: 28%;
  }
}
.introduction__shape::before {
  content: url("../img/intro-triangle.svg.svg");
}
.introduction__shape {
  margin-top: -57px;
}
.introduction__info {
  background-color: #FFFFFF;
  padding-top: 28px;
  padding-right: 18px;
  padding-left: 17px;
  padding-bottom: 26px;
}
.introduction__info-form {
  padding-bottom: 14px;
}
.introduction__info-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.introduction__info-text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding-left: 5px;
}
@media screen and (min-width: 768px) {
  .introduction__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .introduction__wrapper-pic {
    background-color: rgba(1, 1, 1, 0.2);
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 96px;
    padding-right: 153px;
    padding-bottom: 113px;
    padding-left: 155px;
  }
  .introduction__wrapper-pic--photo {
    padding-bottom: 110px;
  }
  .introduction__shape::before {
    content: url("../img/bg-intro-triangle-tablet.svg");
  }
  .introduction__info {
    padding-top: 52px;
    padding-bottom: 1px;
    padding-right: 20px;
    padding-left: 25px;
  }
  .introduction__info-title {
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
    padding-left: 165px;
    padding-right: 172px;
  }
  .introduction__info-text {
    line-height: 24px;
    padding-left: 144px;
    padding-right: 144px;
    margin-bottom: 78px;
  }
  .introduction__info-text--form {
    padding-left: 135px;
    padding-right: 144px;
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 768px) and (min-resolution: 1.5dppx) {
  .introduction__wrapper-pic {
    background-color: rgba(1, 1, 1, 0.2);
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-repeat: no-repeat;
    background-position-x: 82%;
    background-position-y: 28%;
  }
}
@media screen and (min-width: 1200px) {
  .introduction__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .introduction__wrapper-pic {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 101px;
    padding-right: 365px;
    padding-bottom: 114px;
    padding-left: 360px;
  }
  .introduction__shape::before {
    content: url("../img/bg-intro-triangle-desktop.svg");
  }
  .introduction__info {
    padding-top: 94px;
  }
  .introduction__info-form {
    padding-top: 105px;
  }
  .introduction__info-text {
    line-height: 24px;
    padding-left: 360px;
    padding-right: 350px;
    margin-bottom: 45px;
  }
  /*.introduction__info-text {
    margin-bottom: 47px;
  }*/
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .introduction__wrapper-pic {
    background-color: rgba(1, 1, 1, 0.2);
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 39%;
  }
}
.reasons__wrapper {
  max-width: 320px;
  margin: 0 auto;
}
.reasons__wrapper-backcolor {
  background-color: #EEEEEE;
}
.reasons__list,
.reasons__sublist {
  padding: 0;
  margin: 0;
  background-color: #EEEEEE;
}
.reasons__sublist {
  background-color: #FFFFFF;
}
.reasons__item,
.reasons__subitem {
  list-style-type: none;
}
.reasons__item-backcolor {
  background-color: #81B3D2;
}
.reasons__item-backcolor::before {
  content: url("../img/triangular_mobile.svg");
}
.reasons__item-title {
  margin: 0;
  margin-bottom: 5px;
  padding-top: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.reasons__item-title--second {
  padding-top: 41px;
}
.reasons__item-one,
.reasons__item-two {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  padding-left: 149px;
  padding-right: 135px;
  position: relative;
  margin-bottom: 17px;
}
.reasons__item-one::before,
.reasons__item-two::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 44%;
  width: 10px;
  height: 1px;
  background-color: #FFFFFF;
}
.reasons__item-one::after,
.reasons__item-two::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 40%;
  width: 10px;
  height: 1px;
  background-color: #FFFFFF;
}
.reasons__item-text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 37px;
}
.reasons__subitem--house {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position-x: 21px;
  background-position-y: 26px;
}
.reasons__subitem--food {
  background-image: url("../img/icon-burger.svg.svg");
  background-repeat: no-repeat;
  background-position-x: 18px;
  background-position-y: 21px;
  padding-bottom: 35px;
}
.reasons__subitem--gift {
  background-image: url("../img/icon-gift.svg.svg");
  background-repeat: no-repeat;
  background-position-x: 22px;
  background-position-y: 17px;
}
.reasons__subitem-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
.reasons__subitem-title--house {
  margin-bottom: 15px;
}
.reasons__subitem-title--gift {
  margin-top: -7px;
  margin-bottom: 16px;
}
.reasons__subitem-title--food {
  margin-top: -8px;
  margin-bottom: 13px;
}
.reasons__subitem-text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.reasons__subitem {
  padding-top: 35px;
  padding-left: 69px;
  padding-right: 23px;
}
.reasons__item-backgroundcolor {
  background-color: #81B3D2;
}
/*.reasons__item-devil {
  background-color: @color-grey;
}*/
.reasons__item--grey {
  background-color: #EEEEEE;
}
.reasons__item-three,
.reasons__item-four,
.reasons__item-five {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  padding-left: 149px;
  padding-right: 135px;
  position: relative;
  margin-bottom: 26px;
}
.reasons__item-three,
.reasons__item-four {
  padding-left: 129px;
  margin-bottom: 17px;
}
.reasons__item-five {
  margin-bottom: 20px;
}
.reasons__item-three::before,
.reasons__item-four::before,
.reasons__item-five::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 40%;
  width: 10px;
  height: 1px;
  background-color: #000000;
}
.reasons__item-five::before {
  left: 44%;
}
.reasons__item-three::after,
.reasons__item-four::after,
.reasons__item-five::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 42%;
  width: 10px;
  height: 1px;
  background-color: #000000;
}
.reasons__item-five::after {
  right: 40%;
}
.reasons__item-title--third,
.reasons__item-text--third,
.reasons__item-title--fourth,
.reasons__item-text--fourth,
.reasons__item-title--fifth,
.reasons__item-text--fifth {
  color: #000000;
}
.reasons__item-title--third {
  padding-top: 25px;
  margin-bottom: 7px;
}
.reasons__item-title--fourth {
  padding-top: 26px;
  margin-bottom: 7px;
}
.reasons__item-title--fifth {
  padding-top: 25px;
}
.reasons__item-text--third {
  padding-bottom: 23px;
}
.reasons__item-text--fourth {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 25px;
}
.reasons__item-text--fifth {
  padding-bottom: 22px;
  padding-left: 35px;
  padding-right: 35px;
}
.reasons__item--grey:not(:last-of-type) {
  border-bottom: 1px solid #D6D6D6;
  margin-left: 20px;
  margin-right: 20px;
}
/*.reasons__item-ranch {
  width: 320px;
  min-height: 261px;
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}*/
.reasons__item-ranch-pic {
  display: block;
  max-width: 100%;
  height: 261px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*.reasons__item-devil {
  background-color: @color-grey;
  width: 320px;
  min-height: 260px;
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}*/
.reasons__item-devil-pic {
  display: block;
  max-width: 100%;
  height: 261px;
  -o-object-fit: cover;
     object-fit: cover;
}
.reasons__item-title-br {
  display: none;
}
@media screen and (min-width: 768px) {
  .reasons__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .reasons__item-backcolor::before {
    content: "";
    display: none;
  }
  .reasons__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 0;
  }
  .reasons__item:first-child {
    display: flex;
    flex-wrap: wrap;
  }
  .reasons__item-backcolor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 256px;
    text-align: center;
    padding: 47px 29px 44px 29px;
  }
  .reasons__item-title {
    padding-top: 0;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 14px;
  }
  .reasons__item-one,
  .reasons__item-two,
  .reasons__item-three,
  .reasons__item-four,
  .reasons__item-five {
    padding: 0;
    margin-bottom: 22px;
  }
  .reasons__item-one::before,
  .reasons__item-two::before,
  .reasons__item-three::before,
  .reasons__item-four::before,
  .reasons__item-five::before {
    left: -75%;
  }
  .reasons__item-one::after,
  .reasons__item-two::after,
  .reasons__item-three::after,
  .reasons__item-four::after,
  .reasons__item-five::after {
    left: 120%;
    right: 0;
  }
  .reasons__item-text {
    padding: 0;
  }
  /*.reasons__item-ranch {
    width: 512px;
    min-height: 256px;
    background-image: url("../img/main-city-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }*/
  .reasons__item-ranch-pic {
    display: block;
    max-width: 512px;
    height: 264px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /*.reasons__item-devil {
    width: 512px;
    min-height: 256px;
    background-image: url("../img/main-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }*/
  .reasons__item-devil-pic {
    display: block;
    max-width: 100%;
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .reasons__sublist {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 57px;
  }
  .reasons__subitem:nth-of-type(2) {
    order: 3;
  }
  .reasons__subitem {
    width: 256px;
    padding-top: 102px;
    padding-bottom: 59px;
    padding-left: 0;
    padding-right: 0;
  }
  .reasons__subitem--house {
    background-image: url("../img/icon-house_tablet.svg");
    background-repeat: no-repeat;
    background-position-x: 89px;
    background-position-y: 3px;
  }
  .reasons__subitem--gift {
    background-image: url("../img/icon-gift_tablet.svg");
    background-repeat: no-repeat;
    background-position: top;
  }
  .reasons__subitem--food {
    background-image: url("../img/icon-burger_tablet.svg");
    background-repeat: no-repeat;
    background-position-x: 88px;
    background-position-y: 7px;
  }
  .reasons__subitem-title {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 22px;
  }
  .reasons__subitem-title--food,
  .reasons__subitem-title--gift {
    margin-top: 0;
  }
  .reasons__subitem-text {
    text-align: center;
    padding-left: 34px;
    padding-right: 35px;
  }
  .reasons__subitem-text-food {
    padding-left: 53px;
    padding-right: 51px;
  }
  .reasons__subitem-text--gift {
    padding-left: 30px;
    padding-right: 29px;
  }
  .reasons__item:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    overflow: hidden;
  }
  .reasons__item-backgroundcolor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 256px;
    text-align: center;
    padding: 44px 33px 40px 32px;
  }
  .reasons__item-title-br {
    display: block;
  }
  .reasons__item--grey {
    width: 256px;
    text-align: center;
    padding: 42px 23px 43px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reasons__item--grey:not(:last-of-type) {
    border-bottom: none;
    margin-left: 0;
    margin-right: 0;
  }
  .reasons__item-text--padding {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .reasons__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .reasons__item-backcolor {
    width: 400px;
    padding: 64px 50px 50px 52px;
  }
  .reasons__item-ranch {
    overflow: hidden;
  }
  .reasons__item-text {
    /* padding: 0; */
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 3px;
  }
  .reasons__item-ranch-pic {
    display: block;
    max-width: 800px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: -79px;
    margin-top: -50px;
  }
  .reasons__subitem {
    width: 400px;
    padding-bottom: 78px;
  }
  /*.reasons__item-devil {
    width: 800px;
    min-height: 256px;
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }*/
  .reasons__item-devil-pic {
    display: block;
    max-width: 800px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: -130px;
    margin-top: -15px;
  }
  .reasons__item-backgroundcolor {
    width: 400px;
    padding: 52px 50px 50px 52px;
  }
  .reasons__item--grey {
    width: 400px;
    padding: 42px 52px 60px 48px;
  }
  /*.reasons__item-title-br {
    display: none;
  }*/
  .reasons__item-text--padding {
    padding: 0;
  }
  .reasons__item-title {
    width: 122px;
  }
  .reasons__item-one {
    margin-bottom: 27px;
  }
  .reasons__subitem--house {
    background-position-x: 160px;
  }
  .reasons__subitem--food {
    background-position-x: 160px;
  }
  .reasons__subitem-text {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .reasons__subitem-title {
    margin-bottom: 25px;
  }
  .reasons__item-title-br {
    display: block;
  }
  .reasons__item-title--second {
    width: 250px;
  }
  .reasons__item-text--second {
    padding-left: 35px;
    padding-right: 35px;
  }
  .reasons__item-two {
    margin-bottom: 21px;
  }
  .reasons__item-text--fourth {
    padding-left: 20px;
    padding-right: 10px;
  }
}
.searching__wrapper {
  max-width: 320px;
  margin: 0 auto;
}
.searching__wrapper-backcolor {
  background-color: #FFFFFF;
  padding-top: 33px;
  padding-right: 15px;
  padding-bottom: 49px;
  padding-left: 15px;
}
.searching__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 21px;
}
.searching__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 6px;
  padding-left: 25px;
  padding-right: 25px;
}
.searching__link {
  display: block;
  border: none;
  background-color: #81B3D2;
  text-decoration: none;
  width: 280px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 5px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  outline: none;
}
.searching__link:hover {
  background-color: #669EC0;
}
.searching__link:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.searching__link--disabled {
  background-color: #E5E5E5;
}
.searching__text-br {
  display: none;
}
@media screen and (min-width: 768px) {
  .searching__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .searching__wrapper-backcolor {
    padding-top: 58px;
    padding-right: 150px;
    padding-bottom: 58px;
    padding-left: 155px;
  }
  .searching__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 32px;
  }
  .searching__text {
    margin-bottom: 39px;
    padding-left: 5px;
    padding-right: 8px;
  }
  .searching__text-br {
    display: block;
  }
  .searching__link {
    width: 458px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -1px;
  }
}
@media screen and (min-width: 1200px) {
  .searching__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .searching__wrapper-backcolor {
    padding-top: 58px;
    padding-right: 371px;
    padding-bottom: 66px;
    padding-left: 371px;
  }
  .searching__title {
    margin-bottom: 32px;
  }
  .searching__text {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 44px;
  }
  .searching__link {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -1px;
  }
}
.map__wrapper {
  max-width: 320px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .map__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .map__google-map {
    width: 768px;
    height: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .map__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .map__google-map {
    width: 1200px;
    height: 350px;
  }
}
.photos_wrapper {
  max-width: 320px;
  margin: 0 auto;
}
.photos__list {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}
.photos__item {
  list-style-type: none;
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.photos__item:first-of-type {
  border-top: 1px solid #EEEEEE;
}
.photos__item:last-of-type {
  border-top: none;
}
.photos__description-wrapper {
  padding-top: 10px;
}
.photos__description-title,
.photos_likes-number {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}
.photos__description-text {
  margin: 0;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.photos_likes-number {
  margin: 0;
}
.photos__likes-button {
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  margin-right: 7px;
}
.photos__picture {
  display: block;
}
@media screen and (min-width: 768px) {
  .photos_wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .photos__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 59px;
  }
  .photos__item {
    border-bottom: none;
    padding: 0;
    margin: 0;
  }
  .photos__item:first-of-type {
    border-top: none;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .photos__description {
    background-color: #F2F2F2;
    margin-top: 0;
    padding-top: 5px;
    padding-right: 26px;
    padding-bottom: 8px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .photos__description-main {
    padding-right: 20px;
  }
  .photos__likes-button {
    border: none;
    background-color: #F2F2F2;
  }
  .photos__description-another,
  .photos__likes-button-another {
    background-color: #EAEAEA;
  }
  .photos__likes-button-another {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .photos_wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .photos__item {
    position: relative;
  }
  .photos__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 61px;
  }
  .photos__item:first-of-type {
    border-top: none;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .photos__description {
    position: absolute;
    top: 70.2%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /*margin-top: -106px;*/
    padding-top: 7px;
    padding-bottom: 14px;
  }
  .photos__description-main {
    top: 80%;
  }
  .photos__description-title,
  .photos_likes-number,
  .photos__description-text {
    color: #FFFFFF;
  }
  .photos__description-text {
    text-transform: inherit;
    margin: 0;
  }
  .photos__likes-button {
    border: none;
    background-color: inherit;
  }
  .photos__likes-svg {
    fill: #FFFFFF;
    opacity: 1;
  }
}
.video__wrapper {
  max-width: 320px;
  margin: 0 auto;
}
.video__file--hide {
  display: none;
}
.video__wrapper-fake {
  background-color: #FFFFFF;
  padding-bottom: 55px;
}
.video__toggle-wrapper {
  width: 280px;
  height: 45px;
  margin: 0 auto;
  background-color: #000000;
  opacity: 0.6;
  position: relative;
  z-index: 1;
  margin-top: -51px;
  display: flex;
  align-items: center;
}
.video__toddler {
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
}
.video__toggler {
  position: absolute;
  left: 25%;
}
.video__control-panel {
  width: 280px;
  height: 66px;
  margin: 0 auto;
  padding-top: 22px;
  padding-right: 23px;
  padding-bottom: 23px;
  padding-left: 25px;
  background-color: #F2F2F2;
}
.video__button-replay {
  border: none;
  padding: 0;
  background-color: inherit;
  margin-right: 128px;
}
.video__button-sub {
  margin-right: 24px;
  border: none;
  padding: 0;
  background-color: inherit;
}
.video__button-fullscreen {
  padding: 0;
  border: none;
  background-color: inherit;
}
.video__wrapper-text {
  padding-top: 29px;
  margin-top: -1px;
  padding-bottom: 37px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFFFFF;
}
.video__title {
  margin: 0;
  margin-bottom: 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.video__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.video__button-replay:hover path,
.video__button-sub:hover path,
.video__button-fullscreen:hover path {
  fill: #333333;
}
.video__button-replay:active path,
.video__button-sub:active path,
.video__button-fullscreen:active path {
  fill: #333333;
  opacity: 0.3;
}
@media screen and (min-width: 768px) {
  .video__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .video__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 34px;
  }
  .video__text {
    padding-left: 132px;
    padding-right: 130px;
  }
  .video__wrapper-fake {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0;
    margin-bottom: -18px;
  }
  .video__toggle-wrapper {
    width: 100%;
    padding-top: 59px;
    padding-right: 41px;
    padding-bottom: 33px;
    padding-left: 35px;
    margin-top: -99px;
  }
  .video__toggler {
    position: absolute;
    left: 31.5%;
    top: 45%;
  }
  .video__control-panel {
    background-color: inherit;
  }
  .video__toddler {
    width: 389px;
    margin-right: 128px;
    margin-bottom: 24px;
  }
  .video__wrapper-fake-panel {
    position: relative;
  }
  .video__button-replay {
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 5.3%;
  }
  .video__replay,
  .video__sub,
  .video__fullscreen {
    fill: #FFFFFF;
  }
  .video__button-sub {
    position: absolute;
    z-index: 1;
    top: 22%;
    right: 10.3%;
  }
  .video__button-fullscreen {
    position: absolute;
    z-index: 1;
    top: 22%;
    right: 6%;
  }
  .video__button-replay:hover path,
  .video__button-sub:hover path,
  .video__button-fullscreen:hover path {
    fill: #FFFFFF;
    opacity: 0.6;
  }
  .video__button-replay:active path,
  .video__button-sub:active path,
  .video__button-fullscreen:active path {
    fill: #FFFFFF;
    opacity: 0.3;
  }
  .video__wrapper-text {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 78px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .video__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .video__wrapper-text {
    padding-left: 220px;
    padding-right: 220px;
  }
  .video__wrapper-fake {
    padding-left: 199px;
    padding-right: 201px;
    padding-bottom: 42px;
  }
  .video__toddler {
    width: 540px;
    margin-right: 128px;
  }
  .video__button-replay {
    top: 21%;
    left: 4.5%;
  }
  .video__button-sub {
    top: 22%;
    right: 8.7%;
  }
  .video__button-fullscreen {
    top: 22%;
    right: 5.1%;
  }
}
.feedback__wrapper {
  max-width: 320px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .feedback__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.form {
  border-top: 1px solid #E5E5E5;
}
.form__fieldset-name {
  border: none;
  border-bottom: 1px solid #E5E5E5;
  padding: 0;
  padding-bottom: 25px;
}
.form__fieldset-contact {
  border: none;
  border-bottom: 1px solid #E5E5E5;
  padding: 0;
  padding-bottom: 28px;
}
.form__fieldset-impressions {
  border: none;
  border-bottom: 1px solid #E5E5E5;
  padding: 0;
  padding-bottom: 24px;
}
.form__fieldset-attractions {
  border: none;
  border-bottom: 1px solid #E5E5E5;
  padding: 0;
  padding-bottom: 26px;
}
.form__fieldset-emotion {
  border: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 51px;
  padding-left: 20px;
  padding-right: 20px;
}
.form__fieldset-title {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.form__fieldset-name-wrapper,
.form__fieldset-attractions-wrapper {
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}
.form__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  margin-right: 7px;
}
.form__text-fname {
  margin-right: 10px;
}
.form__text-sname {
  margin-right: 11px;
}
.form__placeholder {
  width: 280px;
  height: 58px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-left: 17px;
  padding-top: 22px;
  padding-bottom: 18px;
  background-color: #F2F2F2;
  /*border: none;*/
  border: 4px solid #F2F2F2;
  outline: none;
}
.form__fieldset-title-border {
  padding-right: 5px;
  padding-bottom: 14px;
}
.form__placeholder:hover {
  background-color: #E5E5E5;
  border: 4px solid #E5E5E5;
}
.form__placeholder:focus {
  background-color: #FFFFFF;
  border: 4px solid #E5E5E5;
}
.form__placeholder-name {
  flex-grow: 1;
  width: 230px;
}
.form__placeholder-fname,
.form__placeholder-sname {
  width: 177px;
  flex-grow: 1;
}
.form__placeholder-fname {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*.form__pic-number {
  border: none;
  background-color: @color-more-grey;
  padding-top: 15px;
  padding-right: 18px;
  padding-bottom: 17px;
  padding-left: 18px;
  position: absolute;
  left: 77%;
  top: 17.5%;
}*/
.form__fieldset-contact-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.form__fieldset-label-number {
  display: inline-block;
  margin-bottom: 13px;
}
.form__fieldset-label-number::after {
  content: url("../img/icon-phone.svg");
  background-color: #E6E6E6;
  padding-top: 15px;
  padding-right: 18px;
  padding-bottom: 17px;
  padding-left: 18px;
  position: absolute;
  left: 77%;
  top: 17.5%;
}
.form__fieldset-label-mail::after {
  content: url("../img/icon-mail.svg");
  background-color: #E6E6E6;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  position: absolute;
  left: 76%;
  top: 70.5%;
}
/*.form__pic-email {
  border: none;
  background-color: @color-more-grey;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  position: absolute;
  left: 76%;
  top: 70.5%;
}*/
.form__text-number,
.form__text-mail {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 7px;
}
.form__text-number {
  margin-bottom: 8px;
}
.form__fieldset-impressions-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 20px;
}
.form__fieldset-impressions-radio {
  display: none;
}
.form__fieldset-impressions-fake-radio {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  background-image: url("../img/radio_off.svg");
  background-repeat: no-repeat;
}
.form__fieldset-impressions-fake-radio:hover {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  background-image: url("../img/radio_off_hover.svg");
  background-repeat: no-repeat;
}
.form__fieldset-impressions-fake-radio:active {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  background-image: url("../img/radio_off_active.svg");
  background-repeat: no-repeat;
}
.form__fieldset-impressions-fake-radio::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 56px;
  height: 56px;
  background-image: url("../img/radio_ofn.svg");
  background-repeat: no-repeat;
  opacity: 0;
}
.form__fieldset-impressions-fake-radio:hover::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 56px;
  height: 56px;
  background-image: url("../img/radio_ofn_hover.svg");
  background-repeat: no-repeat;
  opacity: 0;
}
.form__fieldset-impressions-fake-radio:active::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 56px;
  height: 56px;
  background-image: url("../img/radio_ofn_active.svg");
  background-repeat: no-repeat;
  opacity: 0;
}
.form__fieldset-impressions-radio:checked + .form__fieldset-impressions-fake-radio::before {
  opacity: 1;
}
.form__fieldset-impressions-label,
.form__fieldset-attractions-label {
  display: flex;
  align-items: center;
}
.form__fieldset-impressions-label:not(:last-of-type) {
  margin-bottom: 14px;
}
.form__fieldset-attractions-label:not(:last-of-type) {
  margin-top: 5.5px;
  margin-bottom: 17px;
}
.form__fieldset-impressions-text,
.form__fieldset-attractions-text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-left: 21px;
}
.form__fieldset-attractions-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.form__fieldset-attractions-checkbox {
  display: none;
}
.form__fieldset-attractions-checkbox-fake {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 58px;
  background-image: url("../img/checkbox_off.svg");
  background-repeat: no-repeat;
}
.form__fieldset-attractions-checkbox-fake:hover {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 58px;
  background-image: url("../img/checkbox_off_hover.svg");
  background-repeat: no-repeat;
}
.form__fieldset-attractions-checkbox-fake:active {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 58px;
  background-image: url("../img/checkbox_off_active.svg");
  background-repeat: no-repeat;
}
.form__fieldset-attractions-checkbox-fake::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 58px;
  height: 58px;
  background-image: url("../img/checkbox_on.svg");
  background-repeat: no-repeat;
  opacity: 0;
}
.form__fieldset-attractions-checkbox-fake:hover::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 58px;
  height: 58px;
  background-image: url("../img/checkbox_on_hover.svg");
  background-repeat: no-repeat;
  opacity: 0;
}
.form__fieldset-attractions-checkbox-fake:active::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 58px;
  height: 58px;
  background-image: url("../img/checkbox_on_active.svg");
  background-repeat: no-repeat;
  opacity: 0;
}
.form__fieldset-attractions-checkbox:checked + .form__fieldset-attractions-checkbox-fake::before {
  opacity: 1;
}
.form__title-emotion {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-left: 30px;
  padding-right: 34px;
  padding-bottom: 2px;
}
.form__emotion-textarea {
  resize: none;
  outline: none;
  background-color: #F2F2F2;
  border: 4px solid #F2F2F2;
  width: 279px;
  height: 160px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-top: 5px;
  padding-right: 23px;
  padding-bottom: 29px;
  padding-left: 15px;
  margin: 0 auto;
  margin-top: 15px;
}
.form__emotion-textarea:hover {
  background: #E5E5E5;
  border: 4px solid #E5E5E5;
}
.form__emotion-textarea:focus {
  background: #FFFFFF;
  border: 4px solid #E5E5E5;
}
.form__button-wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -10px;
  padding-bottom: 58px;
}
.form__explanation {
  display: none;
}
.form__button {
  border: none;
  background-color: #81B3D2;
  padding-top: 18px;
  padding-right: 33px;
  padding-bottom: 13px;
  padding-left: 32px;
  width: 280px;
}
.form__button-text {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
/*.form__fieldset-title-br {
  display: none;
}*/
.form__fieldset-label-name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: none;
    padding-left: 60px;
    padding-right: 60px;
  }
  .form__placeholder-contact,
  .form__placeholder-contact-email {
    width: 92%;
  }
  .form__text {
    margin-right: 16px;
  }
  .form__fieldset-title {
    font-size: 21px;
    margin-bottom: 37px;
  }
  .form__fieldset-title-impressions,
  .form__fieldset-title-name {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 48px;
  }
  .form__fieldset-impressions-label:not(:last-of-type) {
    margin-bottom: 22px;
  }
  .form__fieldset-impressions {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: none;
    border-right: 1px solid #DBDBDB;
    padding: 0;
    margin: 0;
    margin-bottom: 51px;
  }
  .form__fieldset-impressions-wrapper {
    padding-left: 0;
  }
  .form__fieldset-name {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: none;
  }
  .form__fieldset-name-wrapper {
    padding-left: 58px;
    padding-right: 0;
  }
  .form__fieldset-contact {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-bottom: none;
    border-top: 1px solid #DBDBDB;
    padding-bottom: 18px;
  }
  .form__fieldset-title-border {
    padding-left: 58px;
    padding-right: 63px;
  }
  .form__fieldset-title-info {
    margin-bottom: 7px;
  }
  .form__fieldset-label-number {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  .form__fieldset-label-mail {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  .form__fieldset-contact-wrapper {
    position: relative;
    padding: 0;
  }
  .form__fieldset-label-number::after {
    left: 92%;
    top: 16.5%;
  }
  .form__fieldset-label-mail::after {
    left: 92%;
    top: 72%;
  }
  .form__fieldset-title-br {
    display: block;
  }
  .form__placeholder-name {
    width: 212px;
  }
  .form__fieldset-label-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .form__fieldset-attractions {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border-bottom: none;
    border-top: 1px solid #DBDBDB;
  }
  .form__fieldset-attractions-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*column-gap: 44px;*/
    row-gap: 28px;
    padding-left: 93px;
    padding-bottom: 20px;
  }
  .form__fieldset-attractions-label:not(:last-of-type) {
    margin-bottom: 0;
    margin-top: 0;
  }
  .form__fieldset-emotion {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border-top: 1px solid #DBDBDB;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 63px;
  }
  .form__emotion-textarea {
    margin-top: 54px;
    width: 100%;
    padding-top: 13px;
  }
  .form__title-emotion {
    font-size: 21px;
    margin-left: 120px;
  }
  .form__button {
    padding-top: 18px;
    padding-right: 60px;
    padding-bottom: 13px;
    padding-left: 49px;
    width: 324px;
  }
  .form__explanation {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    text-transform: uppercase;
    color: #333333;
    padding-top: 8px;
  }
  .form__fieldset-title-attractions {
    padding-top: 9px;
    margin-bottom: 32px;
  }
  .form__button-wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-top: -10px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    padding-left: 120px;
    padding-right: 120px;
  }
  .form__fieldset-name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .form__placeholder-name {
    width: 350px;
  }
  .form__placeholder-fname,
  .form__placeholder-sname {
    width: 312px;
  }
  .form__fieldset-label-number {
    display: block;
  }
  .form__fieldset-contact-wrapper {
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 0;
    padding-top: 49px;
  }
  .form__text-desktop {
    display: none;
  }
  .form__placeholder-contact {
    width: 261px;
  }
  .form__placeholder-contact-email {
    width: 267px;
  }
  .form__button-number {
    left: 35.7%;
    top: 39%;
    padding-bottom: 19px;
  }
  .form__fieldset-label-number::after {
    left: 35.8%;
    top: 37%;
  }
  .form__button-email {
    padding-top: 19px;
    padding-right: 21px;
    padding-bottom: 19px;
    padding-left: 18px;
    left: 94.5%;
    top: 39%;
  }
  .form__fieldset-label-mail::after {
    left: 94%;
    top: 37%;
  }
  .form__fieldset-title-br {
    display: block;
  }
  .form__fieldset-attractions-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 1px;
    padding-right: 0;
  }
  .form__fieldset-attractions-label:nth-of-type(2) {
    padding-left: 18px;
  }
  .form__fieldset-attractions-label:nth-of-type(3) {
    padding-left: 37px;
  }
  .form__fieldset-attractions-label:nth-of-type(4) {
    padding-left: 31px;
  }
  .form__title-emotion {
    margin-left: 350px;
  }
  .form__button {
    padding-top: 18px;
    padding-right: 132px;
    padding-bottom: 13px;
    padding-left: 133px;
    width: 480px;
  }
  .form__fieldset-title-name {
    padding-right: 160px;
  }
  .form__fieldset-label-mail {
    display: block;
  }
  .form__text-number {
    margin-left: 0;
    margin-right: 6px;
  }
  .form__text-mail {
    margin-right: 10px;
    margin-left: 45px;
  }
  .form__emotion-textarea {
    padding-left: 16px;
    padding-top: 12px;
  }
  .form__fieldset-title-attractions {
    padding-top: 9px;
    margin-bottom: 27px;
  }
}
.system-messages__wrapper-good {
  display: block;
}
.system-messages__wrapper-error {
  display: block;
}
.system-messages__wrapper {
  max-width: 320px;
  margin: 0 auto;
}
.system-messages__info {
  background-color: #FFFFFF;
  padding-top: 31px;
  padding-right: 39px;
  padding-bottom: 51px;
  padding-left: 37px;
}
.system-messages__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 36px;
}
.system-messages__wrapper-good-txt,
.system-messages__wrapper-error-text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.system-messages__button-wrapper {
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
}
.system-messages__button-good {
  border: none;
  background-color: #81B3D2;
  padding-top: 18px;
  padding-right: 62px;
  padding-bottom: 14px;
  padding-left: 60px;
  margin: 0 auto;
}
.system-messages__button-error {
  border: none;
  background-color: #81B3D2;
  padding-top: 18px;
  padding-right: 62px;
  padding-bottom: 14px;
  padding-left: 60px;
  margin: 0 auto;
}
.system-messages__button-text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.system-messages__wrapper-good--uncative {
  display: none;
}
.system-messages__wrapper-error--unactive {
  display: none;
}
@media screen and (min-width: 768px) {
  .system-messages__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .system-messages__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .system-messages__wrapper-good-txt,
  .system-messages__wrapper-error-text {
    margin-left: 136px;
    margin-right: 130px;
  }
  .system-messages__button-text {
    font-size: 21px;
  }
  .system-messages__button-good,
  .system-messages__button-error {
    padding-right: 140px;
    padding-left: 139px;
  }
  .system-messages__button-wrapper {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
.footer__wrapper {
  max-width: 320px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    padding-bottom: 36px;
    padding-top: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    padding-bottom: 36px;
    padding-top: 36px;
  }
}
.visit {
  padding-top: 21px;
  padding-right: 70px;
  padding-bottom: 31px;
  padding-left: 89px;
}
.visit__text {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .visit {
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 33px;
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .visit {
    padding-left: 60px;
    margin-bottom: 7px;
  }
}
.social {
  padding-right: 83px;
  padding-left: 84px;
  margin-bottom: 40px;
}
.social__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.social__item {
  list-style-type: none;
}
.social__item:not(:nth-of-type(3)) {
  margin-right: 6px;
}
.social__link {
  background-color: #81B3D2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 16px 14px 16px 15px;
}
.social__link-facebook {
  padding: 13px 17px;
}
.social__link:hover {
  background-color: #669EC0;
}
.social__link:active path {
  background-color: #5496BD;
  opacity: 0.3;
}
.social__link:active .social__sprite-svg {
  opacity: 0.3;
}
@media screen and (min-width: 768px) {
  .social {
    padding: 0;
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 260px;
    padding-left: 85px;
    margin-top: -13px;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    padding: 0;
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 260px;
    padding-left: 211px;
    margin-top: -11px;
  }
  .social__list {
    flex-wrap: nowrap;
  }
}
.develop {
  display: flex;
  flex-wrap: wrap;
  padding-left: 94px;
  padding-right: 96px;
  padding-bottom: 22px;
}
.develop__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 13px;
}
.develop__link:hover path {
  fill: #81B3D2;
}
.develop__link:active path {
  fill: rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 768px) {
  .develop {
    padding: 0;
    grid-column-start: 3;
    grid-column-end: 4;
    padding-left: 37px;
    margin-bottom: 4px;
  }
  .develop__text {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .develop {
    padding: 0;
    grid-column-start: 4;
    grid-column-end: 5;
    padding-left: 138px;
    margin-bottom: 4px;
  }
  .develop__text {
    margin-top: 5px;
  }
}
